.border{
    border: 2px solid greenyellow;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    align-items: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: rgb(255, 255, 255);
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}


/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #222; /* Dark background */
}

::-webkit-scrollbar-thumb {
    background: #333; /* Dark gray scrollbar */
    border-radius: 6px;
}

.flexcolumn{
    display: flex;
    flex-direction: column;

}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin: 20px 0;
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid gray;
    margin: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(62, 62, 62);
    width: 100%;
    margin: 50px 0;
}

.btn{
    background-color: #19cb58;
    padding: 9px;
    width: 100%;
    color: rgb(19, 19, 19);
    font-weight: 600;
    text-decoration: none;
    border-radius: 17px;
}

.btn:hover{
    padding: 11px;
    background-color: #2be36b;
}